<h2>{{name}}</h2>
<table class="month{{month}}">
	<thead>
		<th>#</th>
		<th>M</th>
		<th>T</th>
		<th>W</th>
		<th>T</th>
		<th>F</th>
		<th>S</th>
		<th>S</th>
	</thead>
	<tbody>
		{{#each weeks}}
			<tr>
				<th>{{week}}</th>
				{{#each days}}
					<td class="day{{this}}" data-commits="0">{{this}}</td>
				{{/each}}
			</tr>
		{{/each}}
	</tbody>
</table>