<ul>
    <li><a href="#contributors?repo={{urlencode repo}}">contributors</a></li>
    <li><a href="#calendar?repo={{urlencode repo}}">calendar</a></li>
    <li><a href="#timeline?repo={{urlencode repo}}">timeline</a></li>
    <li><a href="#edge-bundling?repo={{urlencode repo}}">Hierarchical Edge Bundling</a></li>
    <li><a href="#line-count?repo={{urlencode repo}}">Line count</a></li>
</ul>